<footer op-60>
  <p mt-6 text-sm text-slate>
    <span pr-1>大家好, 我是练习时长两年半的个人练习生蔡徐坤</span>
    <!-- <a
    border-b border-slate border-none hover:border-dashed
      href="https://ddiu.io" target="_blank"
    >
      Diu
    </a> -->
    <span px-1>|</span>
    <span>喜欢唱, 跳, rap, 🏀, music</span>
    <!-- <a
      border-b border-slate border-none hover:border-dashed
      href="https://github.com/ddiu8081/chatgpt-demo" target="_blank"
    >
      Source Code
    </a> -->
  </p>
</footer>